%head
  %meta{:content => "600", "http-equiv" => "refresh"}
%body   
  .row
    .span4
      %h3 Current Shifts
    .span2
    .span4
      %h3 Prior Shifts
  .row
    .span1
      %strong New
    .span1.centered-text
      Euro
    .span1.centered-text
      US
    .span1.centered-text
      Evening
    .span1.centered-text
      Weekend
    .span1
    .span1
      %strong New
    .span1.centered-text
      Euro
    .span1.centered-text
      US
    .span1.centered-text
      Evening
    .span1.centered-text
      Weekend
  .row
    .span1
    .span1.centered-text
      %span.badge.badge-info 
        =@euro_current_new_met.to_s + "/" + @euro_current_new_total.to_s + " - " + @euro_current_new_percentage.round.to_s + "%" 
    .span1.centered-text
      %span.badge.badge-info
        =@usa_current_new_met.to_s + "/" + @usa_current_new_total.to_s + " - " + @usa_current_new_percentage.round.to_s + "%"
    .span1.centered-text
      %span.badge.badge-info
        =@evening_current_new_met.to_s + "/" + @evening_current_new_total.to_s + " - " + @evening_current_new_percentage.round.to_s + "%"
    .span1.centered-text
      %span.badge.badge-info
        =@weekend_current_new_met.to_s + "/" + @weekend_current_new_total.to_s + " - " + @weekend_current_new_percentage.round.to_s + "%"
    .span1
    .span1
    .span1.centered-text
      %span.badge.badge-info
        =@euro_prior_new_met.to_s + "/" + @euro_prior_new_total.to_s + " - " + @euro_prior_new_percentage.round.to_s + "%"
    .span1.centered-text
      %span.badge.badge-info
        =@usa_prior_new_met.to_s + "/" + @usa_prior_new_total.to_s + " - " + @usa_prior_new_percentage.round.to_s + "%"
    .span1.centered-text
      %span.badge.badge-info
        =@evening_prior_new_met.to_s + "/" + @evening_prior_new_total.to_s + " - " + @evening_prior_new_percentage.round.to_s + "%"
    .span1.centered-text
      %span.badge.badge-info
        =@weekend_prior_new_met.to_s + "/" + @weekend_prior_new_total.to_s + " - " + @weekend_prior_new_percentage.round.to_s + "%"
  .row
    .span1
      %strong Aging
    .span1.centered-text
      Euro
    .span1.centered-text
      US
    .span1.centered-text
      Evening
    .span1.centered-text
      Weekend
    .span1.centered-text
    .span1
      %strong Aging
    .span1.centered-text
      Euro
    .span1.centered-text
      US
    .span1.centered-text
      Evening
    .span1.centered-text
      Weekend
  .row
    .span1
    .span1.centered-text
      %span.badge.badge-info
        =@euro_current_aging_met.to_s + "/" + @euro_current_aging_total.to_s + " - " + @euro_current_aging_percentage.round.to_s + "%"
    .span1.centered-text
      %span.badge.badge-info
        =@usa_current_aging_met.to_s + "/" + @usa_current_aging_total.to_s + " - " + @usa_current_aging_percentage.round.to_s + "%"
    .span1.centered-text
      %span.badge.badge-info
        =@evening_current_aging_met.to_s + "/" + @evening_current_aging_total.to_s + " - " + @evening_current_aging_percentage.round.to_s + "%"
    .span1.centered-text
      %span.badge.badge-info
        =@weekend_current_aging_met.to_s + "/" + @weekend_current_aging_total.to_s + " - " + @weekend_current_aging_percentage.round.to_s + "%"
    .span1.centered-text
    .span1
    .span1.centered-text
      %span.badge.badge-info
        =@euro_prior_aging_met.to_s + "/" + @euro_prior_aging_total.to_s + " - " + @euro_prior_aging_percentage.round.to_s + "%"
    .span1.centered-text
      %span.badge.badge-info
        =@usa_prior_aging_met.to_s + "/" + @usa_prior_aging_total.to_s + " - " + @usa_prior_aging_percentage.round.to_s + "%"
    .span1.centered-text
      %span.badge.badge-info
        =@evening_prior_aging_met.to_s + "/" + @evening_prior_aging_total.to_s + " - " + @evening_prior_aging_percentage.round.to_s + "%"
    .span1.centered-text
      %span.badge.badge-info 
        =@weekend_prior_aging_met.to_s + "/" + @weekend_prior_aging_total.to_s + " - " + @weekend_prior_aging_percentage.round.to_s + "%"

  %p
  %ul.nav.nav-tabs
    %li.active
      %a{"data-toggle"=>"tab", :href => "#ticketEvents"}
        %small Ticket Events
    %li
      %a{"data-toggle"=>"tab", :href => "#settings"}
        %small Settings
  .tab-content
    #ticketEvents.tab-pane.active
      %small
        %table.table.table-striped.table-bordered
          %thead
            %tr
              %th Ticket #
              %th Group
              %th Agent
              %th Minutes Waiting
              %th Status
              %th Subject
              %th Tags
          %tbody
            - @display.each do |display|
              %tr
                %td= link_to display.ticket_id, "http://support.sendgrid.com/tickets/" + display.ticket_id.to_s
                %td= display.group_name
                %td= display.agent
                %td= display.time_since_requester_update
                %td= display.current_status
                - subject = display.subject.to_s
                %td= display.subject
                %td= display.tags
    #settings.tab-pane
      / .btn.btn-primary.btn-small Aging Ticket Defaults
      .row
        %form
        = form_for @profile,:action => 'update' do |f|
          .span4
            %h5 Groups
            .checkbox
              = f.check_box(:group_backend)
              = label_tag(:group_backend, "Backend")
              = f.check_box(:group_billing)
              = label_tag(:group_billing, "Billing")
              = f.check_box(:group_compliance)
              = label_tag(:group_compliance, "Compliance")
              = f.check_box(:group_desktop_support)
              = label_tag(:group_desktop_support, "Desktop Support")
              = f.check_box(:group_dev_relations)
              = label_tag(:group_dev_relations, "Dev Relations")
              = f.check_box(:group_escalation)
              = label_tag(:group_escalation, "Escalation")
              = f.check_box(:group_frontend)
              = label_tag(:group_frontend, "Frontend")
              = f.check_box(:group_hp)
              = label_tag(:group_hp, "HP")
              = f.check_box(:group_marketing)
              = label_tag(:group_marketing, "Marketing")
              = f.check_box(:group_qa_admins)
              = label_tag(:group_qa_admins, "QA Admins")
              = f.check_box(:group_sales)
              = label_tag(:group_sales, "Sales")
              = f.check_box(:group_support)
              = label_tag(:group_support, "Support")
              = f.check_box(:group_z99_alert)
              = label_tag(:group_z99_alert, "Z99. Alert")
              = f.check_box(:group_z99_everyone)
              = label_tag(:group_z99_everyone, "Z99. Everyone")
              = f.check_box(:group_z99_reseller)
              = label_tag(:group_z99_reseller, "Z99. Reseller")
          .span4
            %h5 Tags (tags not shown are enabled)
            .checkbox
              = f.check_box(:tag_claimed)
              = label_tag(:tag_claimed, "claimed")
              = f.check_box(:tag_keep_open)
              = label_tag(:tag_keep_open, "keep_open")
              = f.check_box(:tag_live_chat)
              = label_tag(:tag_live_chat, "live_chat")
              = f.check_box(:tag_email)
              = label_tag(:tag_email, "email")
              = f.check_box(:tag_billing)
              = label_tag(:tag_billing, "billing")
              = f.check_box(:tag_quiet)
              = label_tag(:tag_quiet, "quiet")
            %h5 Ticket Status
            .checkbox
              = f.check_box :status_new
              = label_tag(:status_new, "New")
              = f.check_box(:status_open)
              = label_tag(:status_open, "Open")
              = f.check_box(:status_pending)
              = label_tag(:status_pending, "Pending")
              = f.check_box(:status_solved)
              = label_tag(:status_solved, "Solved")
              = f.check_box(:status_closed)
              = label_tag(:status_closed, "Closed")
              = f.submit "Save Settings"
                
  - if user_signed_in?
    %a.nav.pull-left.feedback{:href => 'https://docs.google.com/a/sendgrid.com/spreadsheet/viewform?formkey=dHAxNk9xT0NZWTlmWWlwajBhVHRKVUE6MQ'}
      %p Feedback


              


              

/ button to set default settings for aging tickets, button for billing?, button for compliance?, other buttons?
/ current aging events only or all aging events for reports
/ tags - list most popular tags in settings only - default is for each tag is "on"
/ ticket status - create calculated "aging ticket" status?
/ date range - in settings or ticket events tab?
/ priority?
/ category?
/ package?


/Ken's logic
/- remove all events that don't have change of status data-toggle
/- select 10pm-8am for euro, 8am-5pm for US day, 5pm-10pm for US evening - to give shift performance numbers
/- for weekend - 10pm friday till 10pm sunday
/- remove chats
/- remove claimed
/- only interested in events with following change of status: new-close, new-pending, new-solved, open-closed, open-pending, open-solved
/- am I correctly accounting for new-open, then open-pending ?- this should be included in single customer wait time 
/- really interested in customer wait time
/- add day(calculated), time(sla due time - calculated), shift (euro,us-evening,us-day,weekend), team (euro,yolo,squid,gravy,weekend,evening)
/- and shift entry form


/How to calculate SLA violation numbers and rate for a shift:
/  - find audit events between 2 different hours (add 120 minutes to each time) that have change of status from new-close, new-pending,new-solved, open-closed, open-pending, open-solved
/    - for each hour in range, if change-of-status-time < 120 min, increment sla-met, else increment sla-not-met
/  - store hourly sla-met, sla-not-met data in table with shift and team data - store day and hour
/When to add SLA met , not-met data to AuditEvents? - update whenever AuditEvents are updated, include in ZendeskHelper
/When to update SLA-Violations table? - update whenever AuditEvents are updated, include in ZendeskHelper
/home controller pulls info from SLA-Violations table to update response stats in labels on home view

