<!doctype html>
%html
  %head
    :javascript
      var data = #{@data_health};
      window.onload = function() {
          var lineChart = new dhtmlXChart({
              view: "line",
              container: "health_graph",
              value: "#data0#",
              radius: 0,
              border: true,
              xAxis: { template: "#data1#" },
              yAxis: {
                  start: 50,
                  end: 100,
                  step: 10,
                  template: function(obj) {
                      return (obj % 20 ? "": obj);
                  }
              }
          });
          lineChart.parse(data, "jsarray");
      }
      	
  %body

    / Black matte, to have a black background
    #black_matte.black_matte

    / GRAPHICAL ELEMENTS

    / Support Health calculation box
    #health_index.health_index_style
      %img{:height => "318", :src => "#{health_indicator(@stat_health_status)}", :width => "329"}

    / Major items
    #major_new_tickets.major_new_tickets.major_items
      %img{:height => "244", :src => "#{major_indicator(@stat_new_tickets_status)}", :width => "243"}
    #major_aging_tickets.major_aging_tickets.major_items
      %img{:height => "244", :src => "#{major_indicator(@stat_aging_tickets_status)}", :width => "243"}
    #major_chats.major_chats.major_items
      %img{:height => "244", :src => "#{major_indicator(@stat_active_chats_status)}", :width => "243"}
    #major_calls.major_calls.major_items
      %img{:height => "244", :src => "#{major_indicator(@stat_active_calls_status)}", :width => "243"}
    #major_header_1.major_header_1.major_headers
      %a{:href => "https://sendgrid.zendesk.com/agent/#/filters/24345347", :target => "_new"}
        %img{:height => "54", :src => "assets/major_header_new_tickets.png", :width => "242"}
    #major_header_2.major_header_2.major_headers
      %a{:href => "https://sendgrid.zendesk.com/agent/#/filters/29161181", :target => "_new"}
        %img{:height => "54", :src => "assets/major_header_aging_tickets.png", :width => "242"}
    #major_header_3.major_header_3.major_headers
      %img{:height => "54", :src => "assets/major_header_active_chats.png", :width => "242"}
    #major_header_4.major_header_4.major_headers
      %img{:height => "54", :src => "assets/major_header_active_calls.png", :width => "242"}

    / HV/Premium Ticket Notification items
    #major_new_tickets_hv{:class => "#{@stat_new_urgent_tickets}"}
      %img{:height => "44", :src => "assets/hp_notice.png", :width => "242"}
    #major_aging_tickets_hv{:class => "#{@stat_aging_urgent_tickets}"}
      %img{:height => "44", :src => "assets/hp_notice.png", :width => "242"}

    / Health Graph placeholder
    #health_graph.health_graph
    #graph_caption.graph_caption
      %center SendGrid Support Health Status Over Time (past 24 hours)
    #sendgrid_logo.sendgrid_logo
      %img{:height => "302", :src => "assets//sglogo_reverse_dashboard.png", :width => "1172"}

    / Minor items
    #minor_header_1_single.minor_header_1_single
      %img{:height => "52", :src => "assets/minor_header_support.png", :width => "147"}
    #minor_header_2_double.minor_header_2_double
      %img{:height => "52", :src => "assets/minor_header_email_metrics.png", :width => "323"}
    #minor_header_3_double.minor_header_3_double
      %img{:height => "52", :src => "assets/minor_header_account_provisioning.png", :width => "323"}
    #minor_header_4_double.minor_header_4_double
      %img{:height => "52", :src => "assets/minor_header_sla.png", :width => "323"}
    #minor_item_1_0.minor_item_1_0.minor_items
      %img{:height => "192", :src => "assets/tab_generic2.png", :width => "147"}
    #minor_item_2_1.minor_item_2_1.minor_items
      %img{:height => "192", :src => "assets/tab_generic2.png", :width => "147"}
    #minor_item_2_2.minor_item_2_2.minor_items
      %img{:height => "192", :src => "assets/tab_generic2.png", :width => "147"}
    #minor_item_3_1.minor_item_3_1.minor_items
      %img{:height => "192", :src => "assets/tab_generic2.png", :width => "147"}
    #minor_item_3_2.minor_item_3_2.minor_items
      %img{:height => "192", :src => "assets/tab_generic2.png", :width => "147"}
    #minor_item_4_1.minor_item_4_1.minor_items
      %img{:height => "192", :src => "assets/tab_generic2.png", :width => "147"}
    #minor_item_4_2.minor_item_4_2.minor_items
      %img{:height => "192", :src => "assets/tab_generic2.png", :width => "147"}

    / Minor Item Captions
    #minor_caption_agents_on_chat.minor_caption_agents_on_chat.minor_captions
      %center
        AGENTS ON
        %br
        CHATS
    #minor_caption_emails_sent.minor_caption_emails_sent.minor_captions
      %center EMAILS SENT
    #minor_caption_kamta_queue.minor_caption_kamta_queue.minor_captions
      %center
        %u KAMTA QUEUE
    #minor_caption_provisioned_users.minor_caption_provisioned_users.minor_captions
      %center PROVISIONED USERS
    #minor_caption_awaiting_provisioning.minor_caption_awaiting_provisioning.minor_captions
      %center
        %u
          AWAITING
          %br
          PROVISIONING
    #minor_caption_sla_new_tickets.minor_caption_sla_new_tickets.minor_captions
      %center NEW TICKETS
    #minor_caption_sla_aging_tickets.minor_caption_sla_aging_tickets.minor_captions
      %center AGING TICKETS

    / Minor icons
    #minor_icon_1.minor_icon_1.minor_icons
      %img{:src => "assets/generic_icon.png"}
    #minor_icon_2.minor_icon_2.minor_icons
      %img{:src => "assets/generic_icon.png"}
    #minor_icon_3.minor_icon_3.minor_icons
      %img{:src => "assets/generic_icon.png"}
    #minor_icon_4.minor_icon_4.minor_icons
      %img{:src => "assets/generic_icon.png"}
    #minor_icon_5.minor_icon_5.minor_icons
      %img{:src => "assets/generic_icon.png"}
    #minor_icon_6.minor_icon_6.minor_icons
      %img{:src => "assets/generic_icon.png"}
    #minor_icon_7.minor_icon_7.minor_icons
      %img{:src => "assets/generic_icon.png"}

    / Status container
    #status_container.status_container
      %center
        Status Posts
        %br
        %br
        -@arrStatusPosts.each do |post|
          %table{:cellpadding => "0", :cellspacing => "0", :height => "212", :width => "350"}
            %tr
              %td{:class => "#{post_wrapper(post[:outage])}"}
                %center
                  %table{:cellpadding => "0", :cellspacing => "0", :height => "212", :width => "320"}
                    %tr
                      %td{:height => "26", :class => "posts_caption"}
                        =post[:caption]
                    %tr
                      %td{:height => "162", :valign => "TOP", :class => "posts_body"}
                        =post[:body]
                    %tr
                      %td{:height => "24", :class => "posts_timestamp"}
                        =post[:timestamp]

    / VALUE/DATA CONTAINERS
    / The values below are where you will want to have Rails print out the
    / values that need to be displayed to the user
    #health_value.health_value
      %center
        =@stat_health
    #health_caption.health_caption
      %center
        SendGrid Support
        %br
        = succeed "Health" do
          %br
        Status
    #new_tickets_value.new_tickets_value.major_values
      %center
        =@stat_new_tickets
    #aging_tickets_value.aging_tickets_value.major_values
      %center
        =@stat_aging_tickets
    #active_chats_value.active_chats_value.major_values
      %center
        =@stat_active_chats
    #active_calls_value.active_calls_value.major_values
      %center
        =@stat_active_calls
    #agents_on_chats_value.agents_on_chats_value.minor_values
      %center
        =@stat_agents_on_chats
    #emails_sent_value.emails_sent_value.minor_values
      %center
        =@stat_emails_sent
    #kamta_queue_value.kamta_queue_value.minor_values
      %center
        =@stat_kamta_queue
    #provisioned_users_value.provisioned_users_value.minor_values
      %center
        =@stat_provisioned_users
    #awaiting_provisioning_value.awaiting_provisioning_value.minor_values
      %center
        =@stat_awaiting_provisioning
    #sla_new_tickets_value.sla_new_tickets_value.minor_values
      %center
        =@stat_sla_new_tickets
    #sla_aging_tickets_value.sla_aging_tickets_value.minor_values
      %center
        =@stat_sla_aging_tickets
